body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

#qr-code-container {
    margin-top: 20px;
}

#qr-code {
    height: 100px;
    width: 100px;
}

video {
    width: 100%;
}
